.clearfix:before,
.clearfix:after{content:"\0020";display:block;height:0;overflow:hidden}
.clearfix:after{clear:both}
.clearfix{zoom:1}

.zui-uihide{position:fixed !important;top:-10000px !important;left:-10000px !important;visibility:hidden !important;overflow:hidden !important;opacity:0 !important;padding:0 !important;margin:0 !important;border:0 !important;color:transparent !important;}
.zui-uiuninithide{visibility:hidden !important;opacity:0 !important;}
.zui-uiuninithideh{visibility:hidden !important;opacity:0 !important;height:0 !important;position:absolute;}
